.container {
  background-color: rgb(245, 245, 245);
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}
.heading {
  color: rgb(61, 51, 153);
}
/* NOTE: these kebab-case class name will be converted to camelCase */
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
}
